.site-list {
	display: flex;
	flex-direction: column;
}

.site-list__item {
	border-bottom: 1px solid #ececec;

	&:nth-child(3),
	&:nth-child(4) {
		display: none;
	}
}

.site-list__item a {
	display: block;
	padding: 29px 0;
	padding-left: calc(50% - 84px);
	padding-right: 30px;

	font-size: 17px;
	line-height: 24px;	
	font-weight: 700;
	color: #000000;

	outline: 0;

	transition-property: color;
	transition-duration: 0.08s;
	transition-timing-function: linear;

	&:focus {
		color: rgba(0, 0, 0, 0.6);
		outline: 1px solid #bababa;
	}

	&:active {
		color: rgba(0, 0, 0, 0.3);
	}
}

@media (min-width: $tablet-width) {
	.site-list {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.site-list__item {
		margin-right: 37px;
		margin-bottom: 15px;

		border-bottom: 0;

		&:nth-child(2) {
			margin-right: 0;
		}
	}

	.site-list__item a {
		padding: 0;

		font-size: 15px;

		&:hover {
			color: rgba(0, 0, 0, 0.6);
		}

		&:active {
			color: rgba(0, 0, 0, 0.3);
		}
	}
}

@media (min-width: $desktop-width) {
	.site-list {
		max-height: 88px;
	}

	.site-list__item {
		margin-bottom: 0;

		margin-right: 60px;
		padding-top: 18px;

		&:nth-child(1) {
			border-right: 1px solid #ececec;
		}

		&:nth-child(3),
		&:nth-child(4) {
			display: block;
		}
	}

	.site-list__item a {
		font-size: 15px;
	}

	.site-list__item:nth-child(1),
	.site-list__item:nth-child(2) {
		a {
			padding: 32px 35px;	
			font-size: 17px;
		}
	}

	.site-list__item:nth-child(1) {
		a {
			padding-left: 0;
		}	
	}

	.site-list__item:nth-child(1),
	.site-list__item:nth-child(2) {
		margin-right: 0;	
		padding-top: 0;
	}
}